@charset "UTF-8";

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    background-image: linear-gradient(to top, rgb(5, 40, 54), rgba(200, 75, 17, 0.698));
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    /*tudo que esta fora da borda fica escondido*/

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
    /*suaviza a transição*/

}

#imagem {
    display: block;
    background: #5f2c82 url(../imagens/predioescuro.jpg);
    background-size: cover;
    height: 200px;
}

#formulario {
    display: block;
    padding: 10px;
}

#formulario >h1 {
    text-align: center;
    margin-bottom: 10px;
}
#formulario >p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: rgb(5, 40, 54);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;

}

div.campo > label {
    display: none;
}


form > input[ type=submit] {
    display: block;
    font-size: 1em;
    width: 100% ;
    height: 40px;
    background-color: rgba(200, 75, 17);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form >input[type=submit]:hover {
    background-color:rgb(141, 48, 5);

}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color:white;
    color: rgba(76, 25, 2, 0.698);
    border: 1px solid rgb(141, 48, 5);
    border-radius: 7px;
    text-decoration: none;

}

form > a.botao:hover {
    background-color:  rgba(222, 104, 20, 0.789);
}


form > a.botao > i {
font-size: 0.8em;
}
